body {
  margin: 0%;
  padding-right: 4px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'eurostile';
  src: local('Eurostile'), url(./fonts/eurostile.woff2) format('woff2');

}

